IJA 2022-23 Projekt


Vedoucí týmu: Danil Domrachev, xdomra00 
Člen týmu: Dinara Garipova, xgarip00

Priority: Nejvyšší priorita = 5, nejnižší priorita = 1 


 								Seznam požadavků	


Priorita	      Požadavek			    Vlastník (má na starosti)	   Předpokládaný termín	      Skutečný termín splatnosti
________________________________________________________________________________________________________________________________________

5		Vymyslete koncept projektu	        Dinara && Danil			19.04.23		-
_________________________________________________________________________________________________________________________________________

4	   Načrtněte přibližný pohled na panely 	Dinara && Danil		         19.04.23		-
                         a okna	 
_________________________________________________________________________________________________________________________________________

4	Přidejte prvky do druhého cvičení Pohled	     Danil			20.04.23		-
________________________________________________________________________________________________________________________________________	
3	Proveďte vizualizaci "Menu" 			Dinara && Danil			21.04.23		-
	(uspořádejte tlačítka)
_________________________________________________________________________________________________________________________________________
2	Přidejte zvuk k tlačítkům				Danil			21.04.23		-
__________________________________________________________________________________________________________________________________________
2	Přidejte obrázek na pozadí				Dinara 			21.04.23		-
__________________________________________________________________________________________________________________________________________
3	Implementujte přechodová okna (panely) z nabídky	Danil			22.04.23		-
___________________________________________________________________________________________________________________________________________
3	Najděte všechny obrázky, odstraňte z nich pozadí,	Dinara 			23.04.23		-
		 upravte rozlišení
____________________________________________________________________________________________________________________________________________
4	Vymyslete 7 různých karet				Dinara 			24.04.23		-
____________________________________________________________________________________________________________________________________________
5	Proveďte vizualizaci "Výběr mapy".			Danil			25.04.23		-
____________________________________________________________________________________________________________________________________________
2	Nahraďte šipky na panelu "Výběr mapy".			Dinara 			25.04.23		-
____________________________________________________________________________________________________________________________________________
2	Vyměňte pozadí na panelu "Výběr karty".		Dinara && Danil			26.04.23		-
_____________________________________________________________________________________________________________________________________________
5	Na základě panelu „Výběr mapy“ si 			Danil			27.04.23		-
	vizualizujte panel „Hrát“ 
	(umístit klíče, dveře, pacmana a duchy)
_____________________________________________________________________________________________________________________________________________
5	Začněte psát herní logiku 			Dinara && Danil			27.04.23		-
	- reakce pacmana na stisk tlačítka
______________________________________________________________________________________________________________________________________________
4	Přidejte metodu, aby se duchové 			Danil			28.04.23		-
	pohybovali náhodně
_______________________________________________________________________________________________________________________________________________
3	Zobrazte životy (ve formě srdcí), 			Dinara			28.04.23		29.04.23
	které závisí na počítadle životů
_______________________________________________________________________________________________________________________________________________
4	Přidejte funkci sběru klíčů z pole			Danil			29.04.23		-
________________________________________________________________________________________________________________________________________________
5	Při sbírání všech klíčů na hřišti 		Dinara && Danil			29.04.23		-
	přidejte počítadlo klíčů a otevřete dveře	
_________________________________________________________________________________________________________________________________________________
4	Vizualizujte panel "Selhání úrovně".			Danil			30.04.23		-
_________________________________________________________________________________________________________________________________________________
4	Vykreslení panelu "Úroveň dokončena".			Danil			01.05.23		-
_______________________________________________________________________________________________________________________________________________
3	Přidejte body do mapy a funkčnost jejich sbírky		Dinara			02.05.23		-
______________________________________________________________________________________________________________________________________________
3	Přidejte počítadlo bodů a zobrazte skóre*		Dinara			02.05.23		03.05.23
	 počet životů na panelech „Neúspěch úrovně“ 
	a „Úroveň dokončena“
__________________________________________________________________________________________________________________________________________________
3	Přidejte ovládání myši pacman (reakce myši)	Dinara && Danil			03.05.23		-
_________________________________________________________________________________________________________________________________________________
2	Přidejte ovládání myši pacman (algoritmus BFS)		Danil			03.05.23		-
__________________________________________________________________________________________________________________________________________________
2	Přidejte algoritmus pro nalezení cesty 			Danil			04.05.23		-
	seslání k pacmanovi, pokud se přiblíží
__________________________________________________________________________________________________________________________________________________
2	Přidejte rotaci hlavy pacmana během pohybu	Dinara && Danil			04.05.23		-
_________________________________________________________________________________________________________________________________________________
5	Implementujte protokolování a 				Danil			04.05.23-06.05.23	07.05.23
	vykreslete panel Přehrát	
__________________________________________________________________________________________________________________________________________________
5	Fix Threading						Danil			Moc to nevyšlo		***
***
Nebylo možné se vypořádat s toky, protože při ukládání toků je to velmi vzácné, ale dochází k brzdění nebo malým chybám
___________________________________________________________________________________________________________________________________________________
1	Přidejte skóre dynamického výstupu na panel „Play“.	Dinara && Danil		05.05.23		-
__________________________________________________________________________________________________________________________________________________
1	Opravte komentáře ve všech třídách na formát Javadoc	Dinara			06.05.23		-
__________________________________________________________________________________________________________________________________________________
1	Vytvořte soubor pom.xml					Dinara			06.05.23		-
___________________________________________________________________________________________________________________________________________________
1	Vytvořte soubor readme.txt				Danil			07.05.23		-


Nebylo možné se vypořádat s toky, protože při ukládání toků je to velmi vzácné, ale dochází k brzdění nebo malým chybám